@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome to Joe's Gaming</h1>

<h4>
    Joe's Gaming is your premier destination for all things video games! For over a decade,
    we have been passionately serving the gaming community with a wide selection of new and vintage games, consoles,
    and accessories. Our commitment to quality and customer satisfaction has earned us a loyal following,
    and we take pride in offering a unique shopping experience tailored to the needs of our customers.
    At Joe's Gaming, we value each and every customer and strive to provide exceptional service and support.
    Join us on our journey and discover why we are the trusted choice for gamers everywhere.
</h4>

<div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
 
        <strong class="me-auto">Bootstrap example</strong>
        <small class="text-body-secondary">11 mins ago</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
        Hello, world! This is a toast message, burnt toast to be exact.
    </div>
</div>



<div class="card">
    <div class="card-header">
        Quote
    </div>
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p>A well-known quote, is what should be typed here.</p>
            <footer class="blockquote-footer">Some famous guy <cite title="Source Title">Said this</cite></footer>
        </blockquote>
    </div>
</div>

<div class="row">
    <div class="col-4">
        <div id="list-example" class="list-group">
            <a class="list-group-item list-group-item-action" href="#list-item-1">Item 1</a>
            <a class="list-group-item list-group-item-action" href="#list-item-2">Item 2</a>
            <a class="list-group-item list-group-item-action" href="#list-item-3">Item 3</a>
            <a class="list-group-item list-group-item-action" href="#list-item-4">Item 4</a>
        </div>
    </div>
    <div class="col-8">
        <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true" class="scrollspy-example" tabindex="0">
            <h4 id="list-item-1">Item 1</h4>
            <p>Original nintendo zelda game in mint condition. Currently on sale for $999.99</p>
            <p>This is some placeholder content for the scrollspy page. Note that as you scroll down the page,
               the appropriate navigation link is highlighted. It's repeated throughout the component example.
               We keep adding some more example copy here to emphasize the scrolling and highlighting.
            </p>
            <h4 id="list-item-2">Item 2</h4>
            <p>XBox360 console used. Currently on sale for $79.99</p>
            <p>
                This is some placeholder content for the scrollspy page. Note that as you scroll down the page,
                the appropriate navigation link is highlighted. It's repeated throughout the component example.
                We keep adding some more example copy here to emphasize the scrolling and highlighting.
            </p>
            <h4 id="list-item-3">Item 3</h4>
            <p>Rare Twisted Metal for Playstation 1. Currently on sale for $29.99 </p>
            <p>
                This is some placeholder content for the scrollspy page. Note that as you scroll down the page,
                the appropriate navigation link is highlighted. It's repeated throughout the component example.
                We keep adding some more example copy here to emphasize the scrolling and highlighting.
            </p>
            <h4 id="list-item-4">Item 4</h4>
            <p>Playstation 5 console new in box. Currently on sale for $549.99 </p>
            <p>
                This is some placeholder content for the scrollspy page. Note that as you scroll down the page,
                the appropriate navigation link is highlighted. It's repeated throughout the component example.
                We keep adding some more example copy here to emphasize the scrolling and highlighting.
            </p>
        </div>
    </div>
</div>

